@using MvcSEDOC.Controllers;
           
@{
    ViewBag.Title = "Generar Reporte";
    string guion = "NC";
    List<MvcSEDOC.Models.ConsolidadoDocente> reporte = ViewBag.lista;
}

@section MenuSection
{
    @Html.Partial("_MenuWorkChiefPartial")
}

@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="errorEd">@ViewBag.Error</div>
  
}
else
{
    if (ViewBag.datos == 0)
    {
        <div class="errorEd">No se le asigno dirigir labores en este periodo</div>
    }
    else
    { 
<h2>Reporte del Departamento @ViewBag.departamento</h2>

<table width="100%">   
    <tr>
     <td>
        <div class="ui-widget">
            <div id ="work-area" style="min-height: 200px; width: 100%; padding:5px;" class="ui-widget-content"> 
                <table class="report" style='width:100%'>
                    <tbody>
                        @foreach (MvcSEDOC.Models.ConsolidadoDocente mireporte in reporte)
                        {
                            <tr>
                                <td>
                                <table class="report" style='width:100%'>
                                    <tr>
                                        <td>Nombre Profesor</td>
                                        <td>@mireporte.nombredocente</td>
                                    </tr>
                                    <tr>
                                        <td>Nombre Jefe</td>
                                        <td>@mireporte.nombrejefe</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha De Consulta</td>
                                        <td>@mireporte.fechaevaluacion</td>
                                    </tr>
                                    <tr>
                                        <td>Nota Final</td>
                                        <td>@mireporte.notafinal</td>
                                    </tr>
                                </table>    
                                <br />
                                <table id='LaborChiefs' class='report' style='width:100%'>
                                    <thead> 
                                        <tr>
                                            <th align="center">Periodo @mireporte.periodoanio-@mireporte.periodonum</th>
                                            <th align="center">Tipo</th>
                                            <th align="center">H/S</th>
                                          @*  <th align="center">%</th>*@
                                            <th align="center">Est</th>
                                            <th align="center">AutoEv</th>
                                            <th align="center">Jefe</th>
                                            <th align="center">Nota</th>
                                           @* <th align="center">Acumula</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                            @foreach (MvcSEDOC.Models.ResEvaluacionLabor laborEv in mireporte.evaluacioneslabores)
                                            {
                                                <tr>
                                                    <td>@laborEv.descripcion</td>
                                                    <td>@laborEv.tipolaborcorto</td>
                                                    <td>@laborEv.horasxsemana</td>
                                                  @*  <td>@laborEv.porcentaje</td>*@
                                                    <td>@((laborEv.evalest == -1) ? "NC" : laborEv.evalest.ToString())</td>
                                                    <td>@((laborEv.evalauto == -1) ? "NC" : laborEv.evalauto.ToString())</td>
                                                    <td>@((laborEv.evaljefe == -1) ? "NC" : laborEv.evaljefe.ToString())</td>
                                                    <td>@((laborEv.nota == 0) ? "NC" : laborEv.nota.ToString())</td>
                                                 @*   <td>@laborEv.nota</td>
                                                    <td>@laborEv.acumula</td>*@
                                                </tr>
                                            }
                                    </tbody>
                                   @* <tfoot>
                                        <tr>
                                            <td colspan="2"><strong>Total</strong></td>
                                            <td>@mireporte.totalhorassemana</td>
                                            <td>@mireporte.totalporcentajes</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>@mireporte.notafinal</td>
                                        </tr>
                                    </tfoot>*@
                                </table> <br />
                            </td>
                          </tr>
                        }
                    </tbody>
                </table>
            </div>
         </div>
     </td>
    </tr>
    <tr>
        <td>
      
        </td>
    </tr>
    <tr>
       <td align="right" >
       @Html.ActionLink("Exportar a Excel", "ExportToExcel", "WorkChief")
       </td>
    </tr>
</table>
    }
}