@{
    ViewBag.Title = "Evaluar Docentes a Cargo";
}

@section MenuSection
{
    @Html.Partial("_MenuAdminPartial")
}
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="errorEd">@ViewBag.Error</div>
    <meta http-equiv="Refresh" content="1; url=@Url.Action("AssessLaborChief", "Admin")" />  
    
}
@section SpecialJavascriptForView
{
    <script src="@Url.Content("~/Scripts/accordionEvaluteSubordinateReady.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/admin-EvaluateSubordinates1.js")" type="text/javascript"></script>
}

<h2>Evaluar Docentes a Cargo</h2>

<a class="miga" href="@Url.Action("Index","Admin")"> Volver  </a>
