@using MvcSEDOC.Controllers;
@{
    ViewBag.Title = "Autoevaluaciones";
    string guion = "NC";
    List<MvcSEDOC.Models.ConsolidadoDocencia> mireporte = ViewBag.reporte;
    
}

@section MenuSection
{
    @Html.Partial("_MenuAdminFacPartial")
}

@if (@mireporte.Count > 0)
{
<h2>Autoevaluaciones De La Materia @mireporte[0].labDocencia[0].nombremateria </h2>

<table style="width:100%"> 
    <tr>
        <td>
            <div class="ui-widget"> 
              <div id ="work-area" style="min-height: 200px; width: 100%; padding:5px;" class="ui-widget-content"> 
                    @if (mireporte.Count > 0)
                    {
                          <table class="report" style='width:100%'>
                                <tr>
                                    <td ><strong> Fecha De Consulta</strong> </td>
                                    <td colspan="2">@mireporte[0].fechaevaluacion</td>
                                </tr>
                                <tr>                            
                                    <td ><strong> Periodo</strong> </td>
                                    <td>@mireporte[0].periodoanio-@mireporte[0].periodonum</td>                           
                                </tr>
                                <tr>
                                    <td width="30%"><strong>Materia</strong> </td>
                                    <td colspan="4">@mireporte[0].labDocencia[0].nombremateria</td>
                                </tr>
                                <tr>
                                    <td width="30%"><strong>Código</strong> </td>
                                    <td colspan="4">@mireporte[0].labDocencia[0].codmateria</td>
                                </tr>
                                                          
                          </table>
                          <br />
                    }
                    
                    @foreach (MvcSEDOC.Models.ConsolidadoDocencia lista in mireporte)
                    {
                        <table id='LaborChiefs' class='report' style='width:100%'>                    
                                <thead> 
                                    <tr class='sub'>                            
                                        <th align="center" >Docente</th>
                                        <th align="center" colspan="2">@lista.nombredocente</th> 
                                    </tr>
                                </thead>
                                @foreach (MvcSEDOC.Models.DetalleDocencia labor in lista.labDocencia)
                                {
                                    <tbody>                               
                                    <tr>
                                        <td align="center"><strong>Nota</strong></td> 
                                        <td>@((labor.evaluacionestudiante == -1) ? "NC" : labor.evaluacionestudiante.ToString())</td>
                                    </tr>
                                    <tr>
                                        <td align="center"  colspan="5"><strong>Problema</strong></td>                                                
                                    </tr>
                                    <tr>
                                        <td align="left" style='width:20%'><strong>Descripción</strong></td>
                                        <td align="justify" colspan="4">@labor.problemadescripcion</td>                                                                                    
                                    </tr>                         
                                    <tr>                                    
                                        <td align="left" style='width:20%'><strong>Solución</strong></td> 
                                        <td align="justify" colspan="4">@labor.problemasolucion</td>       
                                    </tr>
                                    <tr class='sub'>
                                        <td align="center"  colspan="5"><strong>Resultado</strong></td>                                                
                                    </tr>
                                    <tr>
                                        <td align="left" style='width:20%'><strong>Descripción</strong></td>
                                        <td align="justify" colspan="4">@labor.resultadodescripcion</td>                                                                                     
                                    </tr>                         
                                    <tr>
                                        <td align="left" style='width:20%'><strong>Ubicación</strong></td>
                                        <td align="justify" colspan="4">@labor.resultadosolucion</td> 
                                    </tr>
                                    </tbody>
                                }
                        </table>                   
                        <br />                        
                    }
                    NC : "No Calificado"
                </div>          
          </div>
        </td>
    </tr> 
    <tr>
        <td><h3>@Html.ActionLink("Volver", "ListMateria", "AdminFac")</h3></td>
    </tr>
</table> 
}
else
{ 
     <div class="errorEd">No hay datos registrados para este periodo</div> 
}