<!DOCTYPE html>
<html>
<head>

	<title>SI-FIET: Evaluación Docente</title>
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />    
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta name="revisit-after" content="3 days" />
    <meta name="version" content="1.0" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")" type="image/x-icon" />

    <link href="@Url.Content("~/Content/css/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/tables.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/custom-theme/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />
       
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/accordionMenuReady.js")" type="text/javascript"></script>
    @RenderSection("SpecialJavascriptForView",false)	

</head>

<body>

<div id="page">
	<div id="header">
    	<div id="headerRight">
			<div id="headerLeft">
				<div id="topBar">
                    @Html.Partial("_LogOnPartial")
				</div>
                <div id="appName"><h1>SEDOC</h1>Sistema de Evaluación Docente</div>
			</div>
		</div>
	</div>
	
	<div id="menulinks">
		@if(ViewBag.menuOption =="Index" ){ 
            <a class="active" href="@Url.Action("Index")"><span>Inicio</span></a>
        }else {
            <a href="@Url.Action("Index")"><span>Inicio</span></a>
        }
        <div class="menulines"></div>
		@if(ViewBag.menuOption =="About" ){ 
            <a class="active" href="@Url.Action("About","Home")"><span>Acerca de</span></a>
        } else {
            <a href="@Url.Action("About","Home")"><span>Acerca de</span></a>
        }
		<div class="menulines"></div>
		@if (ViewBag.menuOption == "Contact"){
            <a class="active" href="@Url.Action("Contact", "Home")"><span>Contáctenos</span></a>
        }else{
            <a href="@Url.Action("Contact", "Home")"><span>Contáctenos</span></a>
        }
		<div class="menulines"></div>
        @if (ViewBag.menuOption == "Enlaces"){
            <a class="active" href="@Url.Action("Enlaces", "Home")"><span>Enlaces</span></a>
        }else{
            <a href="@Url.Action("Enlaces", "Home")"><span>Enlaces</span></a>
        }
		<div class="menulines"></div>
	</div>
	
	<div id="mainarea">
	    <div id="contentarea">
            @RenderBody()
        </div>
	
	    <div id="sidebar">
            @RenderSection("LoginFormSection",false)
            @RenderSection("MenuSection",false)
	    </div>
    </div>
		
	<div id="footer">		
          
		@*<div id="footerleft">&copy;2013, Universidad del Cauca</div>
		<div id="footerright"> Popay&aacute;n | Colombia</div>*@
	</div>

</div>

</body>
</html>

