@using MvcSEDOC.Controllers;
@{
    ViewBag.Title = "Ver Evaluaciones";
    string guion = "NC";
    MvcSEDOC.Models.ConsolidadoDocencia mireporte = ViewBag.reporte;
}

@section MenuSection
{
    @Html.Partial("_MenuAdminFacPartial")
}

<h2>Materias Del Docente @mireporte.nombredocente</h2>

<table style="width:100%"> 
    <tr>
     <td><div class="ui-widget"> 
          <div id ="work-area" style="min-height: 200px; width: 100%; padding:5px;" class="ui-widget-content"> 
                <table class="report" style='width:100%'>
                    <tr>
                        <td width="30%"><strong> Nombre Profesor</strong> </td>
                        <td>@mireporte.nombredocente</td>
                    </tr>
                    <tr>
                        <td width="30%"><strong> Nombre Jefe</strong> </td>
                        <td>@mireporte.nombrejefe</td>
                    </tr>
                    <tr>
                        <td width="30%"><strong> Fecha De Consulta</strong> </td>
                        <td>@mireporte.fechaevaluacion</td>
                    </tr>
                    <tr>
                        <td width="30%"><strong> Periodo</strong> </td>
                        <td>@mireporte.periodoanio-@mireporte.periodonum</td>
                    </tr>
                </table>
                <br />               

                @foreach (var labor in mireporte.labDocencia)
                {
                <table id='LaborChiefs' class='report' style='width:100%'>
                     
                        <tr class="list"> 
                            <td align="center" width="10%"><strong>ID Mat</strong></td>
                            <td align="center" colspan="3"><strong>Materia</strong></td>                                       
                            <td align="center" width="10%"><strong>H-S</strong></td>                                    
                        </tr>                                   
                        <tr>
                            <td width="10%">@labor.idmateria</td>
                            <td colspan="3">@labor.nombremateria</td>
                            <td width="10%">@labor.horassemana</td>
                                    
                        </tr>  
                        <tr class="list">
                            <td align="center"><strong>Grupo</strong></td>                            
                            <td align="center" width="20%"><strong>Semestre </strong></td>                                                                                
                            <td align="center"><strong>Cr&eacute;ditos</strong></td> 
                            <td align="center"><strong>Tipo</strong></td>
                            <td align="center" width="20%"><strong>S-Laborales</strong> </td>        
                        </tr>                                                                  
                        <tr>
                            <td>@labor.grupo</td>
                            <td width="20%">@labor.semestre</td>
                            <td>@labor.creditos</td>
                            <td>@labor.tipo</td>                                                               
                            <td width="20%">@labor.semanaslaborales</td>                                       
                        </tr>
                            
                        <tr>
                        <td align="center"  colspan="5"><strong>AUTOEVALUACION</strong></td> 
                        </tr>                                        
                            <tr>                                
                                <td ><strong>Nota</strong></td>                                                                  
                                <td colspan="4">@((labor.evaluacionautoevaluacion == -1) ? "NC" : labor.evaluacionautoevaluacion.ToString())</td> 
                            </tr>
                            <tr>
                            <td align="center"  colspan="5"><strong>Problema</strong></td>                                                
                            </tr>
                            <tr>
                                <td align="left" style='width:20%'><strong>Descripción</strong></td>
                                <td align="justify" colspan="4">@labor.problemadescripcion</td>                                                                                    
                            </tr>                         
                            <tr>                                    
                                <td align="left" style='width:20%'><strong>Solución</strong></td> 
                                <td align="justify" colspan="4">@labor.problemasolucion</td>       
                            </tr>
                            <tr class='sub'>
                                <td align="center"  colspan="5"><strong>Resultado</strong></td>                                                
                            </tr>
                            <tr>
                                <td align="left" style='width:20%'><strong>Descripción</strong></td>
                                <td align="justify" colspan="4">@labor.resultadodescripcion</td>                                                                                     
                            </tr>                         
                            <tr>
                                <td align="left" style='width:20%'><strong>Ubicación</strong></td>
                                <td align="justify" colspan="4">@labor.resultadosolucion</td> 
                            </tr>
                    </table>
                    <br />
                }  
                 <br />
                NC : "No Calificado"
            </div>          
          </div>
     </td>
    </tr> 
    <tr>
        <td><h3>@Html.ActionLink("Volver", "ListMateria", "AdminFac")</h3></td>
    </tr>
</table> 
